.Tab {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  appearance: none;
  background: none;
  width: auto;
  margin: 0;
  border: none;
  padding: 0.625rem 1.125rem;
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-secondary);
  border-top-left-radius: var(--border-radius-messages-small);
  border-top-right-radius: var(--border-radius-messages-small);
  position: relative;

  &,
  &:active,
  &:focus {
    outline: none;
  }

  &--interactive {
    cursor: var(--custom-cursor, pointer);

    @media (hover: hover) {
      &:not(&--active):hover {
        background: var(--color-interactive-element-hover);
      }
    }

    @media (max-width: 600px) {
      &:not(&--active):active {
        background: var(--color-interactive-element-hover);
      }
    }
  }

  &--active {
    cursor: var(--custom-cursor, default);
    color: var(--color-primary);

    .platform {
      opacity: 1 !important;
    }
  }

  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;

    .icon {
      font-size: 1.5rem;
      margin-bottom: 0.25rem;
    }

    .badge {
      position: absolute;
      top: -4px;
      right: 4px;
      min-width: 18px;
      height: 18px;
      padding: 0 4px;
      border-radius: 9px;
      background: var(--color-gray);
      color: white;
      font-size: 0.85em;
      line-height: 18px;
      text-align: center;
      font-weight: 500;

      &.Tab__badge--active {
        background: var(--color-primary);
      }
    }
  }

  &__badge--active {
    background: var(--color-primary) !important;
  }

  .blocked {
    position: absolute;
    bottom: -0.625rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.75rem;
  }

  .platform {
    position: absolute;
    bottom: -0.625rem;
    left: -0.5rem;
    right: -0.5rem;
    opacity: 0;
    background-color: var(--color-primary);
    height: 0.1875rem;
    border-radius: 0.1875rem 0.1875rem 0 0;
    pointer-events: none;
    box-sizing: content-box;
    transform-origin: left;

    &.animate {
      transition: transform var(--slide-transition);

      body.no-page-transitions & {
        transition: none !important;
      }
    }
  }
}

.Tab-context-menu {
  position: absolute;
}
